*{
    margin: 0px;
    padding: 0px;
}

.menu-container{
    background-color: rgb(66, 63, 63);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menus{
    display: flex;
    align-items: end;
    justify-content: space-between;
    cursor: pointer;
}

.logophoto{
    width: 120px;
}

.item{
    margin-right: 10px;
}
.item:hover{
    color: blueviolet;
}
.banner-img{
    width: 300px;
}
.banner-Container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    color: white;
    /* border: 3px solid gray; */
    align-items: center;
    background-image: url("./images/background.png"),linear-gradient(45deg,rgb(7, 7, 7),#292828);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}

.headti{
    font-size: 55px;
    font-weight: bold;
}

.description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    padding: 10px 20px;
     background-color: red;
     border: none;


}
.btn:hover{
    color: blue;
}

.main-middle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    padding: 10px;

}
.us{
    text-align: center;
    font-size: 60px;
    padding: 10px;
    padding-bottom: 10px;

}
/* .middle-text{
    tex
} */
.box1{
    width: 230px;
    height: 270px;
    background-color: rgb(24, 23, 23);
    color: white;
    padding: 15px;
    text-align: center;
    box-shadow: 10px 10px 15px rgb(34, 33, 33);
    


}
.icon{
    padding-bottom: 15px;
    padding-top: 10px;
    width: 70px;
}
.box-text{
    padding: 15px;
    font-size: 15px;
}
.us2{
    padding-top: 20px;
    color: white;
}
.all-box{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    

}
.box-container{
    background-image: url("./images/background.png"),linear-gradient(10deg,rgb(8, 8, 8),#292828);
    background-size: cover;
}

.maindiv{
    background-color: black;
    height: 40vb;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.div{
    color: white;
}

.last{
    color: white;
    text-align: center;
}
.main{
    background-color: black;
}